<html>
    <head>
        <title>FeedbackFlow</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <div class="app-container">
            {% include 'navbar.html' %}
            {% block content %}
            {% endblock %}
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const navbarToggle = document.getElementById('navbarToggle');
                const navbarMenu = document.getElementById('navbarMenu');

                navbarToggle.addEventListener('click', function() {
                    navbarMenu.classList.toggle('active');
                });
            });
        </script>

    </body>
</html>