<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-brand" href="/">FeedbackFlow</a>
        <div class="navbar-menu" id="navbarMenu">
            <ul class="navbar-nav">
                {% if user %}
                <li class="nav-item">
                    <a class="nav-link btn" href="/feedback">Generate Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" href="/assignments">Analyze Trends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link btn" href="/login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
