<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-brand" href="/">FeedbackFlow</a>
        <button class="navbar-toggle" id="navbarToggle">
            &#9776;
        </button>
        <div class="navbar-menu" id="navbarMenu">
            <ul class="navbar-nav">
                {% if user %}
                <li class="nav-item">
                    <a class="nav-link btn btn-light-blue" href="/feedback">Generate Feedback</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    {% if user %}
                    <a class="nav-link btn btn-light-blue" href="/logout">Logout</a>
                    {% else %}
                    <a class="nav-link btn btn-light-blue" href="/login">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
